<div>   
  <!-- Navigation -->
   <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="othSoftLogo deep-purple-text" href="https://github.com/othsoft007">OthSoft</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="">{{menu.home}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">{{menu.about}}</a>
                </li>
                        <li class="nav-item">
                    <a class="nav-link text-white" href="#">{{menu.produts}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">{{menu.contact}}</a>
                </li>
            </ul>
        </div>
</nav>

<!-- Routed views go here -->
<router-outlet></router-outlet>

<!-- Footer -->
<div class="footer text-center">CopyRight <strong>OthSoft</strong>.</div>
<!-- Footer -->

</div>